
@media print {
	.no-printme  {
		display: none;
	}
	.printme  {
		display: block;
	}

    body{
        color: #000;
    }
}

#sommaire{
	text-align:center;
}

#sommaire-inside{
	text-align:left;
	display: inline-block;
}